		<form method=post action="/bookings/create">
		Arrival Date:
		<input type=text placeholder="when do you arrive" name="arrive"><br>
		Departure Date:
		<input type=text placeholder="when do you depart" name="depart"><br>
		<input type="hidden" name="id" value="<%=@temp%>">
		<input type=submit value="Submit">
		</form>