<form method=post action="/propertys/new">
	<input type=text placeholder="Name of Property" name="p_name"><br>
	<input type=text placeholder="description" name="desc"><br>
	<input type=submit value="Create">
</form>